---
layout: default
---

{% for post in site.publications %}
<li>
  <a href="{% if post.ref-url %}{{ post.ref-url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}"><h2 class="card__header" itemprop="name">{{ post.ref-authors }} ({{ post.ref-year }}).</h2></a>
  <p class="card__count">{{ post.ref-title }}. <em>{{ post.ref-journal}}</em>{% if post.ref-vol %}, {{ post.ref-vol }}{% endif %}.{% if post.ref-doi %} <a href={{ post.ref-url }}">doi: {{ post.ref-doi }}</a>{% endif %}</p>
</li>
{% endfor %}
    
Testing.  
